<h3>Content Titles</h3>
<div class="row">
	<div class="col-sm-6 section-top-control-panel">
		<button mat-button (click)="goBack();">Back</button>
		<button mat-raised-button class="maid-button" [routerLink]="['new']">Add</button>
	</div>
</div>
<div class="row">
	<mat-grid-list cols="6" rowHeight="230px" class="content-grid">
		<mat-grid-tile *ngFor="let item of items"
					   [colspan]="1"
					   [rowspan]="1"
					   [routerLink]="[item.id]">
			<span class="content-grid-status" 
				[ngStyle]="{'background-color': item.isStatusPositive ? 'rgba(16, 175, 59, 0.80)' : 'rgba(0, 0, 0, 0.38)'}">
					{{item.status}}
			</span>
			<img class="content-grid-image" src="{{item.imageUrl}}" />
			<mat-grid-tile-footer>
				<span class="content-grid-caption">{{item.name}}</span>
				<button class="delete-button" mat-button (click)="onDeleteItem($event, item)">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-grid-tile-footer>
		</mat-grid-tile>
	</mat-grid-list>
	<app-view-port [scrollableParentDomEl]="parentBody" (onVisible)="onViewPortVisible()"></app-view-port>
</div>
