<div class="main-page-container">
	<div class="row">
		<div class="col-sm-6">
			<h3>
				{{model.name}}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 page-top-control-panel">
			<button mat-button (click)="goBack();">Back</button>
			<button mat-raised-button color="primary" (click)="save(null);">Save</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<mat-form-field class="page-input">
				<input matInput [(ngModel)]="model.domainUrl" #domainUrl autocomplete="doNotAutoComplete"
					placeholder="Domain url" />
			</mat-form-field>
			<mat-form-field class="page-input">
				<input matInput placeholder="Name" [(ngModel)]="model.name" />
			</mat-form-field>
			<mat-form-field class="page-input">
				<input matInput placeholder="Image url" [(ngModel)]="model.imageUrl" />
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<mat-form-field class="page-input">
				<input matInput placeholder="Title xpath" [(ngModel)]="model.titleXpath" />
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<mat-form-field class="page-input">
				<input matInput placeholder="Image xpath" [(ngModel)]="model.imageXpath" />
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<mat-form-field class="page-input">
				<input matInput placeholder="Chapter item xpath" [(ngModel)]="model.chapterXpath" />
			</mat-form-field>
			<mat-form-field class="page-input">
				<input matInput placeholder="Chapter title xpath" [(ngModel)]="model.chapterTitleXpath" />
			</mat-form-field>
			<mat-form-field class="page-input">
				<input matInput placeholder="Chapter href xpath" [(ngModel)]="model.chapterHrefXpath" />
			</mat-form-field>
			<mat-form-field class="page-input">
				<input matInput placeholder="Chapter date xpath" [(ngModel)]="model.chapterDateXpath" />
			</mat-form-field>
		</div>
	</div>
</div>
