/* You can add global styles to this file, and also import other style files */

html, body { 
	height: 100%; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
body .container-fluid { 
	margin: 0;
}
.home-container-back-image {
	width: 150px;
	border-radius: 35%;
}
/* 
@media (min-width: 767px) {
	.table-container {
		display: table;
		width: 100%;
	  }
	  
	 .table-container .table-row {
		height: 100%;
		display: table-row;
	  }
	  
	 .table-container .table-row .table-col {
		display: table-cell;
		float: none;
		vertical-align: top;
	  }
  } */

.page-input {
	width: 100%;
  }
  .mat-form-field-label {
	font-size: 18px;
  }
  .page-top-control-panel {
	margin: 20px 0 20px 0;
  }
  .page-top-control-panel button {
	margin-right: 8px;
  }
  
  .main-page-container .form-image {
	-webkit-box-shadow: 9px 7px 43px -15px rgba(0,0,0,1);
	-moz-box-shadow: 9px 7px 43px -15px rgba(0,0,0,1);
	box-shadow: 9px 7px 43px -15px rgba(0,0,0,1);
  }
  .divider {
	margin: 10px 0 10px 0;
  }

.mat-grid-tile .mat-grid-tile-footer{ 
	padding-right: 5px;
}
 
 .mat-grid-tile-footer span {
	max-height: 48px;
	line-height: normal;
}