<p>
  Manga section
</p>
<div>
  <a routerLink="/manga/titles">
    <span>Titles</span>
  </a>
  <a routerLink="/manga/sources">
    <span>Sources</span>
  </a>
</div>
<div class="row">
	<mat-grid-list cols="6" rowHeight="230px" class="manga-grid">
    <a *ngFor="let item of items" href="{{item.href}}" target="_blank">
      <mat-grid-tile 
        [colspan]="1"
        [rowspan]="1">
      <img class="manga-grid-image" src="{{item.manga.imageUrl}}" />
      <mat-grid-tile-footer>
        <span class="manga-grid-caption">{{item.name}}</span>
      </mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
	</mat-grid-list>
</div>
