<h3>Manga</h3>
<div class="row">
  <div class="col-sm-6 page-top-control-panel">
    <button mat-raised-button [disabled]="isChanged" color="primary" routerLink="/manga/sources/new">Add</button>
  </div>
</div>
<div class="row">
  <mat-grid-list cols="6" rowHeight="230px">
    <mat-grid-tile *ngFor="let item of items"
                   [colspan]="1"
                   [rowspan]="1"
                   routerLink="/manga/sources/{{item.id}}">
      <img class="manga-grid-image" src="{{item.imageUrl}}" />
      <mat-grid-tile-footer>
        <span class="manga-grid-caption">{{item.name}}</span>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

</div>
