<div class="main-page-container">
	<div class="row">
		<div class="col-sm-6">
			<h3>
				{{model.name}}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 page-top-control-panel">
			<button mat-button (click)="goBack();">Back</button>
			<button mat-raised-button color="primary" (click)="save(null);">Save</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<img src="{{model.imageUrl}}" class="form-image" />
		</div>
		<div class="col-sm-6">
			<mat-form-field class="manga-page-input">
				<input matInput
					   #mangaUrl
					   autocomplete="doNotAutoComplete"
					   placeholder="Url"
					   [(ngModel)]="model.href"
					   (paste)="onHrefPaste($event)" />
			</mat-form-field>
			<mat-form-field class="manga-page-input">
				<input matInput placeholder="Name" [(ngModel)]="model.name" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Source</mat-label>
				<mat-select name="source" required [(ngModel)]="sourceId">
					<mat-option *ngFor="let source of sourceValues" [value]="source.id">{{ source.name }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<mat-divider class="divider"></mat-divider>
	<div class="row">
		<div class="col-sm-12">
			<app-manga-chapters-detail [parentId]="this.model.id"></app-manga-chapters-detail>
		</div>
	</div>
</div>
