@media (max-width: 767px) {
	/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
	.body-content {
	  padding-top: 50px;
	}
  }
  
  .main-container {
  }
  
  .content {
	  width: 90%;
	  margin: auto;
  }
  
  .body-content {
	width: 90%;
	display: inline-block;
  }
  
  .header-content .nav-menu {
	  display: inline-block;
	  vertical-align: top;
  }